*.bat
*.sh
*.db
*.exe
/*/
LICENSE.txt
CHANGELOG

!/src/
!/src/minecraft/mcWars/*
/src/minecraft/*
!/src/minecraft/mods/


!src/minecraft/mods/mcWars/*

!/resources/
!/models/
!info1.5.1.txt
!InjectResources.bat
!BuildModJar.bat
!/README